# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build
.vercel

# Misc
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Documenti e Backup
*.docx
*.doc
*.pdf
*.html
!frontend/index.html
!studio/.sanity/runtime/index.html

# Media pesanti e sparsi
*.mp4
*.mov
*.jpeg
*.jpg
*.png
*.webp
!frontend/public/media/**
!frontend/src/assets/**

# Varie
*.ai
*.mjs
!frontend/*.mjs
!studio/*.mjs
